<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 登录页面</title>
    <script src="https://unpkg.com/vue@2/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="css/base.css">

    <style>

        .login-app{
            background-color: antiquewhite;
            width: 458px;
            height: 588px;
            border-radius: 15px;
            padding: 0 50px;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <div class="login-app" >
        <div class="header">ZJNU博客</div>

        <div class="user" >
            <el-form ref="user" :model="user" :rules="rules">
            <input type="text" name="username" v-model="user.username" placeholder="用户名" class="input-item">
            <input type="password" name="password" v-model="user.password" placeholder="密码" class="input-item">
            <div class="btn" >
                <a href="index.html" type="primary" @click="login(user)">登录</a>
            </div>
            </el-form>
        </div>

        <div class="msg">
            没有账号?
            <a href="register.html">点击注册</a>
        </div>
    </div>
</div>
<script>
    const vue=new Vue({
        el:"#app",
        data(){
            return{
                user:{
                    username:"",
                    password:"",
                },
                rules:{
                    username: [
                        {required:true,message:'请输入用户名',trigger:'blur',type:'string'},
                        {max:10,message: '用户名过长'}
                    ],
                    password: [
                        {required: true,message:'密码不符合要求，应为6-16位',trigger: 'blur',min:6,max: 16}
                    ]
                }

            }
        },
        methods:{
            login(user){
                this.$refs[user].validate((valid)=>{
                    if(valid){
                        axios.post("/user/login",this.user).then(res=>{
                            if(res.data.code==200){
                                window.location.href='index.html'
                            }else{
                                this.$message.error(res.data.message)
                            }

                        })
                    }else{
                        console.log('error message')
                        return false;
                    }
                })
            }
        },
    })
</script>
</body>
</html>
